# {{ ansible_managed }}

[Unit]
Description=Atlassian Fisheye
After=syslog.target network.target

[Service]
ExecStart=/opt/atlassian/fisheye/bin/start.sh
ExecStop=/opt/atlassian/fisheye/bin/stop.sh
PIDFile=/var/atlassian/application-data/fisheye/var/catalina.pid
Type=forking
User=fisheye
Group=fisheye

[Install]
WantedBy=multi-user.target
