# {{ ansible_managed }}

[Unit]
Description=Atlassian Fisheye
After=syslog.target network-online.target
Wants=syslog.target network-online.target

[Service]
Type=forking
User={{ fisheye_owner }}
Group={{ fisheye_group }}
ExecStart={{ fisheye_catalina }}/bin/start.sh
ExecStop={{ fisheye_catalina }}/bin/stop.sh
PIDFile={{ fisheye_home }}/var/catalina.pid

[Install]
WantedBy=multi-user.target
