<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<config control-bind="127.0.0.1:{{ fisheye_server_port }}" version="1.0">
    <web-server context="{{ fisheye_context_path or '' }}">
        <http bind=":{{ fisheye_connector_port }}"{% if fisheye_proxy_name and fisheye_scheme in ["http", "https"] %} proxy-host="{{ fisheye_proxy_name }}"{% if fisheye_scheme == "http" %} proxy-scheme="http" proxy-port="80"{% elif fisheye_scheme == "https" %} proxy-scheme="https" proxy-port="443"{% endif %}{% endif %}/>
    </web-server>
    <security allow-anon="true" allow-cru-anon="true"/>
    <repository-defaults>
        <linker/>
        <allow/>
        <tarball enabled="false" maxFileCount="0"/>
        <security allow-anon="true"/>
    </repository-defaults>
</config>
